@import url('../variables.css');

#video-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#video-container h4 {
    margin: 0;
    font-size: 2rem;
}

#create-video{
    margin-bottom: 20px;
}

.blue{
    background-color: var(--main-color);
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.responsive-table {
    margin-top: 20px;
}

#action-th {
    width: 150px;
}

.responsive-table-body td {
    vertical-align: middle;
}

.responsive-table-body a{
    background-color: var(--main-color);
}

#pagination {
    margin-top: 20px;
    background-color: none;
}

.modal-footer button {
    background-color: var(--main-color);
}

.modal .modal-content h4,
.modal .modal-content label {
    color: var(--font-dark-color);
}

@media screen and (max-width: 425px) {
    #video-count{
        font-size: 0.8rem;
    }

    #create-video{
        font-size: 0.9rem !important;
    }

}